html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 760px;
}
.box {
  /* min-width: 1080px; */
  width: 100%;
}

/* box-head 轮播部分css */
.box-head {
  width: 100%;
  /* height: 1rem; */
}
.top-line {
  /* position: sticky;
    top: 0;
    z-index: 99;
    padding-top: 1rem;
    box-sizing: border-box; */
  /* margin-top: 0.1rem; */
  width: 100%;
  height: 100%;
}
.top-line-left {
  position: absolute;
  top: 0;
  left: 5%;
  width: 56%;
  /* margin: 0 auto; */
  height: 1rem;
  /* background-color: red; */
  border-bottom: 2px solid #ffffff;
  z-index: 99;
}
.top-line-right {
  position: absolute;
  top: 0;
  right: 5%;
  width: 27%;
  /* margin: 0 auto; */
  height: 1rem;
  /* background-color: red; */
  border-bottom: 2px solid #ffffff;
  z-index: 99;
}

.top-line-img {
  position: absolute;
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  top: 0.75rem;
  left: 63%;
  z-index: 999;
}
.top-line-logo {
  position: absolute;
  display: block;
  width: 1.5rem;
  height: 0.265rem;
  top: 0.55rem;
  left: 10.6rem;
  z-index: 999;
}
.swiper-container {
  padding-bottom: 40px;
}

.swiper-slide {
  width: 978px;
  transition-timing-function: linear;
}

.swiper-slide img {
  width: 100%;
  border-radius: 4px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 86px;
  height: 112px;
  background-size: 86px 112px;
  margin-top: -56px;
  outline: none;
}

.swiper-button-next {
  background-image: url(img/cursor-next.png);
}

.swiper-button-prev {
  background-image: url(img/cursor-prev.png);
}

.swiper-pagination-bullet {
  background: none;
  opacity: 1;
  margin: 0 6px !important;
  width: 9px;
  height: 9px;
  position: relative;
  outline: none;
  vertical-align: middle;
}

.swiper-pagination-bullet span {
  width: 3px;
  height: 3px;
  background: #ccc;
  display: block;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 3px;
}

.swiper-pagination-bullet i {
  background: #000;
  height: 1px;
  width: 20px;
  position: absolute;
  top: 4px;
  transform: scaleX(0);
  transform-origin: left;
  z-index: 3;
  transition-timing-function: linear;
}

.swiper-pagination-bullet-active span,
.swiper-pagination-bullet:hover span {
  width: 9px;
  height: 9px;
  margin-top: 0;
  margin-left: 0;
  background: #000;
  position: relative;
  z-index: 1;
}

.swiper-pagination-bullet-active i {
  animation: middle 6s;
}

.swiper-pagination-bullet:first-child.swiper-pagination-bullet-active i {
  animation: first 6s;
}

.swiper-pagination-bullet:last-child.swiper-pagination-bullet-active i {
  animation: last 6s;
}

@keyframes first {
  0% {
    transform: scaleX(0.5);
    left: 0px;
  }

  /*091*/
  100% {
    transform: scaleX(1);
    left: 2px;
  }

  /*0915*/
}

@keyframes last {
  0% {
    transform: scaleX(0.7);
    left: -10px;
  }

  /*1090*/
  20% {
    transform: scaleX(0.3);
    left: 2px;
  }

  /*090*/
  100% {
    transform: scaleX(0.3);
    left: 0px;
  }

  /*090*/
}

@keyframes middle {
  0% {
    transform: scaleX(0.7);
    left: -10px;
  }

  /*1091*/
  20% {
    transform: scaleX(0.45);
    left: 2px;
  }

  /*092*/
  100% {
    transform: scaleX(1);
    left: 2px;
  }

  /*0913*/
}

.box-body {
  width: 100%;
  /* height: 10rem; */
  background-color: #f1f1f1;
  /* padding-top: 0.8rem; */
  margin-top: 0.3rem;
  box-sizing: border-box;
}

/* 车型列表 */
.box-body-list {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.box-body-list a {
  display: block;
}
.box-body-list-i {
  float: left;
  /* display: inline-block; */
  width: 33%;
  text-align: center;
  font-size: 0.25rem;
  background: #f1f1f1;
  font-family: "YouYuan";
  font-weight: bold;
  letter-spacing: 0.02rem;
  padding: 20px;
  box-sizing: border-box;
  margin: 0.01rem;
  cursor: pointer;
  box-shadow: #d6d6d6 14px 18px 47px 32px;
}
.box-body-list-i img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.box-body-list-i dd {
  text-align: center;
  margin: 0;
}
.box-body-list-i dd:last-child {
  font-size: 0.14rem;
  margin-top: 0.01rem;
}
.box-body-list-i:hover {
  color: rgb(10, 65, 160);
  font-weight: bolder;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.box-body-line {
  width: 100%;
  height: 0.8rem;
  position: sticky;
  top: 0;
  background-color: #f1f1f1;
}
.body-line-left {
  position: absolute;
  top: 0;
  left: 5%;
  width: 36%;
  /* margin: 0 auto; */
  height: 0.35rem;
  /* background-color: red; */
  border-bottom: 2px solid #001e50;
  z-index: 99;
}
.body-line-center {
  position: absolute;
  top: 0;
  right: 20%;
  width: 23%;
  /* margin: 0 auto; */
  height: 0.35rem;
  /* background-color: red; */
  border-bottom: 2px solid #001e50;
  z-index: 99;
}
.body-line-right {
  position: absolute;
  top: 0;
  right: 4%;
  width: 8%;
  /* margin: 0 auto; */
  height: 0.35rem;
  /* background-color: red; */
  border-bottom: 2px solid #001e50;
  z-index: 99;
}
.body-line-img {
  position: absolute;
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  top: 0.14rem;
  left: 82%;
  z-index: 999;
}
.body-line-center-content {
  position: absolute;
  display: block;
  width: 1.5rem;
  height: 0.6rem;
  top: 0.05rem;
  left: 43.5%;
  text-align: center;
  line-height: 0.6rem;
  font-size: 0.28rem;
  z-index: 999;
  color: #001e50;
  border: 2px solid #001e50;
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}
.das-auto {
  width: 100%;
  height: 0.5rem;
  background-color: #ffffff;
  line-height: 0.5rem;
  position: sticky;
  top: 0;
  box-shadow: #d6d6d6 3px 9px 34px 2px;
}

.das-auto > img {
  width: 1.5rem;
  height: auto;
  /* line-height: 0.3rem; */
  display: block;
  /* vertical-align: text-top; */
  /* height: auto; */
  float: right;
  margin: 0.1rem 0.4rem 0 0;
}
/* 新闻部分 */
.box-body-newes {
  width: 100%;
  margin-top: 1rem;
}
.box-body-newes-top {
  width: 100%;
  color: #000000;
  font-family: "VWTextWeb-Bold";
}
.box-body-newes-top-left {
  float: left;
  width: 63%;
  /* color: #000000; */
}
.box-body-newes-top-left > dt,
.box-body-newes-top-right > dt {
  width: 100%;
}
.box-body-newes-top-left img,
.box-body-newes-top-right img {
  display: block;
  width: 100%;
  height: auto;
}
.box-body-newes-top-right {
  float: right;
  width: 36%;
}
.box-body-newes-top-left > a:nth-child(2) > dd,
.box-body-newes-top-right > dd:nth-child(2) {
  font-size: 0.25rem;
  margin: 0.4rem 0 0 0.4rem;
}
.box-body-newes-top-left > a:nth-child(3) > dd {
  margin: 0.05rem 0 0 0.4rem;
}
.box-body-newes-top-left > a:nth-child(3) > dd > .strong,
.box-body-newes-top-right > dd:nth-child(3) {
  display: inline-block;
  font-size: 0.5rem;
  font-weight: bolder;
  letter-spacing: 0.04rem;
}
.box-body-newes-top-left > a:nth-child(3) > dd > .small {
  font-size: 0.5rem;
  margin-left: 0.2rem;
  letter-spacing: 0.04rem;
}
.small,
.box-body-newes-top-right > dd:nth-child(4) {
  /* display: inline-block; */
  font-size: 0.5rem;
  letter-spacing: 0.04rem;
  margin: 0.05rem 0 0 0.4rem;
}
.box-body-newes-top-left > a:nth-child(4) > dd {
  font-size: 0.2rem;
  font-family: "YouYuan";
  margin: 0.3rem 0 0 0.4rem;
}
.box-body-newes-top-left > a:nth-child(5) > dd {
  font-size: 0.16rem;
  font-family: "YouYuan";
  margin: 0.3rem 0 0 0.4rem;
}
.box-body-newes-top-left > a:nth-child(6) > dd,
.box-body-newes-top-right > a > dd {
  display: block;
  font-size: 0.16rem;
  width: 1.5rem;
  height: 0.5rem;
  color: #ffffff;
  text-align: center;
  line-height: 0.5rem;
  background-color: #001e50;
  border-radius: 0.25rem;
  margin: 0.3rem 0 0 0.4rem;
}
.box-body-newes-top-left > a:nth-child(6) > dd:hover,
.box-body-newes-top-right > a > dd:hover {
  background-color: #0040c5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.box-body-newes-top-right > dd:nth-child(3) {
  margin: 0.05rem 0 0 0.4rem;
}
.box-body-newes-bottom {
  width: 100%;
  /* height: 8rem; */
  margin-top: 1.2rem;
  color: #000000;
  /* font-family: "VWTextWeb-Bold"; */
  /* background-color: crimson; */
}
.box-body-newes-bottom-left {
  width: 45%;
  height: 8rem;
  float: left;
  /* background-color: goldenrod; */
}
.box-body-newes-bottom-right {
  width: 45%;
  /* height: 8rem; */
  float: right;
  /* background-color: lightcoral; */
  padding: 0 1% 0 0;
  margin-top: 3%;
  box-sizing: border-box;
}
.box-body-newes-bottom-left img {
  display: block;
  width: 100%;
  height: auto;
}
.box-body-newes-bottom-left > dl > dd:nth-child(2) {
  font-size: 0.25rem;
  margin: 0.4rem 0 0 0.4rem;
}
.box-body-newes-bottom-left > dl > dd:nth-child(3) {
  font-size: 0.5rem;
  font-weight: bolder;
  letter-spacing: 0.04rem;
  margin: 0.1rem 0 0 0.4rem;
}
.box-body-newes-bottom-left > dl > dd:nth-child(4) {
  font-size: 0.43rem;
  /* letter-spacing: 0.04rem; */
  margin: 0.1rem 0 0 0.1rem;
  font-family: "YouYuan";
}
.box-body-newes-bottom-left > dl > a:nth-child(5) {
  display: block;
  font-size: 0.2rem;
  color: #001e50;
  /* margin-left: 0.45rem; */
  margin: 0.45rem 0 0 0.45rem;
}
.box-body-newes-bottom-left > dl > a:nth-child(6) {
  display: block;
  font-size: 0.16rem;
  width: 1.5rem;
  height: 0.5rem;
  color: #ffffff;
  text-align: center;
  line-height: 0.5rem;
  background-color: #001e50;
  border-radius: 0.25rem;
  margin: 0.3rem 0 0 0.4rem;
}
.box-body-newes-bottom-left > dl > a:nth-child(6):hover {
  background-color: #0040c5;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.box-body-newes-bottom-right-list {
  width: 100%;
  border-bottom: 1px solid #ceced0;
  padding-bottom: 3%;
  margin-bottom: 12%;
}
.box-body-newes-bottom-right-list-left {
  /* display: inline-block; */
  width: 38%;
  float: left;
}
.box-body-newes-bottom-right-list-left > img {
  width: 100%;
  height: auto;
}
.box-body-newes-bottom-right-list-right {
  /* display: inline-block; */
  width: 55%;
  float: right;
}
.box-body-newes-bottom-right-title {
  font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 540;
  letter-spacing: 0.03rem;
}
.box-body-newes-bottom-right-list-right > p:nth-child(1) {
  font-size: 0.16rem;
  margin-bottom: 10px;
  font-weight: 700;
}
.box-body-newes-bottom-right-list-right > p:nth-child(2) {
  color: #050505;
  font-size: 0.16rem;
  line-height: 24px;
  margin-bottom: 0.1rem;
  font-family: "YouYuan";
}
.box-body-newes-bottom-right-list-right > a:nth-child(3) {
  display: block;
  font-size: 16px;
  color: #001e50;
}
.box-body-newes-bottom-right-href > a {
  width: 1.5rem;
  display: inline-block;
  margin-bottom: 0;
  line-height: 100%;
  padding: 0.13rem 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  font-size: 0.18rem;
  border: 2px solid #001e50;
  border-radius: 0.25rem;
  color: #001e50;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.box-body-newes-bottom-right-href > a:hover {
  color: #ffffff;
  background-color: #001e50;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.box-body-enjoy {
  position: relative;
  width: 100%;
  height: 5rem;
  margin-top: 0.6rem;
  background-image: url("../img/enjoy.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.box-body-enjoy:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-size: 130% 130%;
  background-position: 30% 30%;
}
.box-body-enjoy > h2,
.box-body-enjoy > a {
  position: absolute;
  top: 30%;
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 0.6rem;
  text-align: center;
}
.box-body-enjoy > a {
  top: 60%;
  left: 45%;
  width: 1.5rem;
  /* display: inline-block; */
  margin-bottom: 0;
  line-height: 100%;
  padding: 0.13rem 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  font-size: 0.18rem;
  border: 2px solid #ffffff;
  border-radius: 0.25rem;
  color: #ffffff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.box-body-enjoy > a:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 2px solid #001e50;
  /* color: #001e50; */
}
.box-body-video {
  position: relative;
  width: 100%;
  height: 4.6rem;
  /* margin: 1rem auto; */
  /* height: 2rem;
  background-color: aqua; */
  /* padding: 0 0.6rem 0 0.6rem; */
  /* box-sizing: border-box; */
}
.box-body-video > video {
  position: absolute;
  margin-top: 1rem;
  width: 45%;
  height: auto;
  border-radius: 0.2rem;
  box-shadow: #d6d6d6 20px 20px 40px 10px;
}
.box-body-video > video:nth-child(1) {
  display: block;
  left: 0.2rem;
  /* float: left; */
}
.box-body-video > video:nth-child(2) {
  display: block;
  right: 0.2rem;
  /* float: right; */
}
.box-body-video > video:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 47%;
  height: auto;
}

.box-body-bottom {
  width: 100%;
  margin-top: 1rem;
}
/* 下一步 */
.box-body-next {
  width: 100%;
  margin: 1.2rem 0 0;
  background-color: #001e50;
  background-image: radial-gradient(circle at 122% 124%, #00437a, #001e50);
  color: #fff;
  padding: 1rem 0 2.5rem;
  letter-spacing: 0.06rem;
}
.box-body-next > h2 {
  line-height: 100%;
  font-size: 0.6rem;
  margin-bottom: 3%;
  text-align: center;
  /* display: inline-block; */
}
.box-body-next > div {
  width: 53%;
  float: left;
  /* display: inline-block; */
  text-align: right;
  font-size: 0.25rem;
}
.box-body-next-ul {
  width: 44%;
  font-size: 0.25rem;
  float: right;
  /* display: inline-block; */
  margin-right: 0;
}
.box-body-next-ul > li {
  width: 24%;
  position: relative;
  text-align: center;
  padding-bottom: 0.1rem;
  border-bottom: 2px solid #ffffff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}
.box-body-next-ul-none {
  display: none;
}
.box-body-next-ul-none > li {
  width: 100%;
  font-size: 0.2rem;
  line-height: 0.4rem;
  text-align: center;
}
.box-body-next-ul-none > li > a {
  display: block;
  width: 100%;
  padding: 0.04rem;
  border-radius: 10px;
  color: #ffffff;
  font-family: "YouYuan";
}
.box-body-next-ul-none > li > a:hover {
  color: #ffffff;
  background-color: #0040c5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.box-body-next-ul > li:hover .box-body-next-ul-none {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  display: block;
  top: 0.5rem;
  color: #ffffff;
}

/* 底部开始 */
.box-foot {
  width: 90%;
  border-top: 2px solid #02287d;
  margin: 0.5rem auto;
}
.box-foot-information {
  width: 100%;
}
.box-foot-information-dl {
  float: left;
  margin-top: 0.4rem;
  width: 25%;
  font-size: 0.18rem;
}
.box-foot-information-dl dt {
  padding-left: 25%;
  color: #000;
  line-height: 0.6rem;
}
.box-foot-information-dl > dd > a {
  padding-left: 25%;
  display: block;
  line-height: 0.35rem;
  padding-left: 25%;
  color: #727b8c;
  font-size: 0.14rem;
  font-family: "Microsoft Yahei", "simsun", "arial", "tahoma";
  letter-spacing: 0.02rem;
}
.box-foot-information-dl > dd > a:hover {
  color: #425bc7;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.box-foot-box2 {
  width: 100%;
  margin-bottom: 0;
  padding: 0.5rem 6% 0.2rem;
  box-sizing: border-box;
  color: #727b8c;
  font-size: 0.16rem;
}
.box-foot-box2 > p:nth-child(1) {
  float: left;
}
.box-foot-box2 > p:nth-child(2) {
  float: right;
}
